*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

body {
    transition: background-color .2s;
}

.we-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.we-slider__slide.slick-slide {
    display: flex;
}

.slick-dots {
    display: flex;
    width: 100%;
    padding: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slick-dots li {
    flex: 1 1 auto;
    padding: 2px;
}

.slick-dots .slick-active button {
    opacity: 1;
}

.slick-dots button {
    display: block;
    width: 100%;
    height: 3px;
    font-size: 0;
    border: none;
    background: #cfe4f5;
    opacity: .5;
    transition: opacity .3s;
}

.slick-list, .slick-track {
    height: 100%;
}

.we-content {
    display: flex;
    flex: 1 1 auto;
    padding-bottom: 30px;
}

.we-content * {
    transition: color .2s;
}

.we-image {
    display: block;
    width: 60%;
    max-width: 200px;
    margin: 30px auto;
    object-fit: contain;
}

@media (orientation: landscape) {
    .we-content {
        flex-wrap: wrap;
    }

    .we-content > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 6vh;
        font-weight: 900;
    }

    .we-content > *:last-child {
        width: 100%;
    }
}

@media (orientation: portrait) {
    .we-slider__slide.slick-slide {
        flex-direction: column;
    }

    .we-content {
        flex-direction: column;
        justify-content: space-between;
    }

    .divider-size {
        font-size: 6vw;
    }

    .fw-900 {
        font-size: 8vw;
        font-weight: 900;
    }

    .fw-700 {
        font-size: 7vw;
        font-weight: 700;
    }

    .fw-500 {
        font-size: 6vw;
        font-weight: 500;
    }

    .fw-400 {
        font-size: 5vw;
        font-weight: 400;
    }

    .fw-300 {
        font-size: 4vw;
        font-weight: 300;
    }

    .fw-100 {
        font-size: 3vw;
        font-weight: 100;
    }
}